<div class="row  justify-content-center padding">
    <div
      class="
        shadow-lg       
        mb-5
        bg-light
        rounded
        col-sm-7
        justify-content-center
        aling-items-center
        p-5
        d-flex
        flex-column
        border border-info
        text-center
      "
    >
      <h2>{{titulo}} {{firstname}}!!</h2>
      <p>Nos pondremos en contacto a la brevedad al correo: <strong>{{mail}}</strong> para que puedas realizar el pago.</p>
      <div class="justify-content-center
        aling-items-center">
      <img src="/img/animacion.gif" alt="rock" width="200px" height="200px" />
      </div>     
    <a class="btn btn-success mb-2"  href="/home/deleteAll">Volver a ver nuevos productos!</a>   
    </div>    
  </div>