body {
  background-image: url("../img/fondo.jpg");
  /* background-size:contain;   */
  object-fit: scale-down;
  backdrop-filter: blur(10px);
 
  
}



.row{
  margin-right: 0;
}

.padding{
  padding-bottom: 22%;
  padding-top: 2%;
 
}